/* :root {
  --notblack: #23272a;
  --dark: #2c2f33;
  --greyple: #99aab5;
  --burnt: #da8b72;
}

* {
}



body {
  background-color: var(--notblack);
  font-size: 1em;

  color: var(--greyple);
  margin-right: 15%;
  margin-left: 15%;
}
*/

:root {
  --notblack: #23272a;
  --dark: #2c2f33;
  --greyple: #99aab5;
  --burnt: #da8b72;
}

html,
body {
  /* height: 100%; */
  background-color: rgb(75, 75, 75);
  margin: 0;
  padding: 0;
  height: 100%;
}
#root {
  background-color: rgb(75, 75, 75);
  height: 100%;
}

.App {
  /* background-color: green; */
  height: 100%;
}

/* HOME PAGE GRID LAYOUT */

.test3 {
  height: 2em;
}

@media (width: 500px) {
  .test1 {
    display: inline;
    flex: 0 0 auto;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 0;
  }
}

@media (width: 500px) {
  .test2 {
    display: inline;
    flex: 0 0 auto;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 0;
  }
}

.container {
  width: 100%;
  height: 100%;
}

.list-group {
  /* white-space: nowrap; */
  /* word-wrap: break-word; */
  /* display: block; */
  /* white-space: nowrap; */

  /* overflow: hidden; */
}
.list-group:hover {
  /* background-color: tomato; */
}
.ticketItem {
  /* white-space: nowrap; */
  /* display: block; */
  padding: 1em;
  border-bottom: 0.01em solid rgba(0, 0, 0, 0.125);
  background-color: white;
  /* transition: 0s background-color; */
  transition-duration: 0.25s;
  /* overflow: hidden; */
}

.ticketItem:hover {
  transition-duration: 0.25s;
  background-color: rgb(255, 211, 203);
  cursor: pointer;
  /* display: block; */

  /* height: 2em; */
  /* overflow-wrap: anywhere; */
}
.ticketName {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}

.ticky {
}

.cardDeck.card-deck {
  /* border-left: 1em; */
  margin-left: 0;
  margin-right: 0;

  /* box-shadow: 5px 10px 8px 10px #888888; */
  /* padding-left: 1em; */
}
.card {
  box-shadow: 0px 10px 15px 8px #363636;
}

@media (max-width: 850px) {
  .cardDeck {
    display: block !important;
    flex-flow: row wrap !important;
    padding: 0em 1em 0em 1em;
  }
}

@media (max-width: 850px) {
  .card {
    margin: 1em 1em 1em 1em;
  }
}

/* 
@media (min-width: 800px) {
  .cardDeck {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
  }
}

@media (max-width: 800px) {
  .card {
    margin: 1em 1em 1em 1em;
  }
}

@media (max-width: 576px) {
  .card {
    margin: 0em 0em 0em 0em;
  }
}



@media (max-width: 576px) {
  .cardDeck {
    display: block !important;
    flex-flow: row wrap !important;
    margin-left: 0px;
    margin-right: 0px;
  }
} */

.addTicket {
  grid-area: addT;
  /* background-color: #a3d0ff; */
  margin-bottom: 0.5em;
  padding: 1em;
  grid-column-start: 2;

  grid-row-start: 1;
}

.users {
  grid-area: users;
  display: flex;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;

  /* background-color: #111; */
}

.chat {
  grid-area: chat;
  display: flex;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;

  /* background-color: #111; */
}

.card-deck {
  grid-area: cards;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.home {
  height: 94%;
  display: grid;
  /* grid-template-areas:
    "users addT chat "
    "users cards chat"
    "users cards chat"; */
  width: 100%;
  grid-template-columns: 1fr minmax(0%, 98%) 1fr;
  grid-template-rows: 6em 1fr 1fr;
  /* grid-template-rows: 11% 1fr 1fr; */
  /* background-color: grey; */

  /* grid-template-rows: 0% 60% 25%; */
}

.usersOnline {
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;

  grid-area: users;
  width: 0;
  background-color: rgb(224, 224, 224);
  /* border-style: inset;
  border-color: rgb(136, 136, 136);
  border-width: 0.5em; */
  color: green;
}

.userlist {
  display: block;
  white-space: nowrap;
  /* background-color: #111; */
}

.loginTime {
  color: grey;
  font-style: italic;
  font-size: 0.8em;
}

.sideText {
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
  transform: translateX(-10px);
  width: 90%;
  height: 90%;
  font-weight: 600;
  font-size: 1.2em;
  padding-right: 0.3em;
  padding-left: 0.3em;
}

.NavDropdown.Item-logout {
  background-color: purple;
  color: white;
}

.alert1 {
  padding-top: 0.5em;
  margin: 0;
  border: 0;
}

#ticket::placeholder {
  font-style: italic;
  color: lightgray;
}

.loggedUser {
  font-size: smaller;
}

.notLoggedIn {
  color: darkgray;
  line-height: 1em;
  text-align: center;
  /* text-align: center; */
  /* vertical-align: middle; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.displayChatroom {
  display: block;
  white-space: nowrap;
  /* height: 100%; */
  margin: 0.5em;
  /* background-color: #111; */
  font-size: smaller;
}

#openbtn {
  height: 100%;
  /* width: 1em; */
  text-align: center;
  border-radius: 0;
  /* width: 20px; */
}

#openbtn2 {
  height: 100%;
  /* width: 1em; */
  float: right;
  text-align: center;
  border-radius: 0;
}

.chatroom {
  float: left;
  background-color: white;
  border: grey;
  /* border-width: 2px; */
  /* border-style: solid; */
  /* padding: 0.5em; */
  font-size: 1rem;

  overflow-x: hidden;

  transition: 0.5s;

  width: 0;
  background-color: white;
  color: green;
}

.chatbox {
  background-color: white;
  padding: 0.1em;
  /* padding-bottom: 2em; */
  height: 15em;
  width: 100%;
  /* border-style: inset; */
  /* border-width: 1px; */
  color: black;
  overflow: auto;
  resize: vertical;
  word-wrap: break-word;
  line-height: 0.8em;
  display: block;
  white-space: nowrap;
}

.clearChats {
  display: block;
  margin: 0;
}

.form-inline {
  display: block;
  white-space: nowrap;
  display: inline-block;
}

.chatbar {
  display: block;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
}

.chatinput {
  width: 80% !important;
  height: 4em !important;
  border-style: inset !important;
  border-width: 1px !important;
  float: right !important;
  /* resize: vertical !important; */
}

.chatSend {
  padding-top: 0.65em;
  padding-bottom: 1em;
  width: 20% !important;
  height: 4em !important;
  float: right;
}
.handle {
  cursor: grab;
  background-color: rgb(231, 231, 231);
  text-align: center;
}

.handle:active {
  cursor: grabbing;
  background-color: rgb(195, 195, 195);
}

.chatMessage {
  margin: 0.35em;
  line-height: 1em;
}

.chatProfile {
  overflow: hidden;
  white-space: nowrap;
  color: cornflowerblue;
}

.chatTime {
  color: grey;
  font-style: italic;
  font-size: 0.8em;
  float: right;
}

.demo {
  float: right;
}

/* .floatleft {
  float: right;
  width: 15%;
  word-wrap: break-word;
} */

/* .loading {
  position: relative;
  margin-left: 45%;
  margin-top: 15%;
  padding-bottom: 20%;
} */
/*
a:link {
  color: rgb(104, 187, 255);
  background-color: transparent;

  padding-left: 0px;
  padding-top: 50px;
}

a:visited {
  color: rgb(104, 187, 255);
  background-color: transparent;
  padding-left: 50px;
  padding-top: 50px;
}

.loading {
  position: relative;
  margin-left: 45%;
  margin-top: 15%;
  padding-bottom: 20%;
}

.chatbox {
  background-color: white;
  padding: 0.1em;
  padding-bottom: 2em;
  height: 20em;
  width: 18em;
  border-style: inset;
  border-width: 1px;
  color: black;
  overflow: auto;
  resize: vertical;
  word-wrap: break-word;
  line-height: 0.8em;
}



.chatroom {
  float: right;

  font-size: 1rem;
}

.chatbar {
  height: 2.35em;
  width: 18.37em;
}

.chatinput {
  width: 18em;
  border-style: inset;
  border-width: 1px;
  float: left;
  resize: vertical;
}

.chatSend {
  padding-top: 0.65em;
  padding-bottom: 0.65em;
  padding-right: 0.5em;
  float: right;
}

h1,
h2,
h3 {
  font-weight: lighter;
}




.chatProfile {
  overflow: hidden;
  white-space: nowrap;
  color: cornflowerblue;
}

.notLoggedIn {
  color: darkgray;
  line-height: 1em;
}
/*  */

/*  
.usersOnline h5 {
  line-height: 0em;
  font-size: inherit;
  font-weight: normal;
  color: var(--greyple);
  margin-top: 0.5em;
}



.chatTime {
  color: grey;
  font-style: italic;
  font-size: 0.8em;
  float: right;
}

.errorMessage {
  color: red;
  font-size: smaller;
}

.successMessage {
  color: green;
  font-size: smaller;
} */
