:root {
  --notblack: #23272a;
  --dark: #2c2f33;
  --greyple: #99aab5;
  --burnt: #da8b72;
}

* {
}

html {
}

body {
  background-color: var(--notblack);
  font-size: 1em;

  color: var(--greyple);
  margin-right: 15%;
  margin-left: 15%;
}

.App {
  background-color: var(--dark);
  color: var(--greyple);

  width: 100%;
  min-height: 100%;
  /* padding-left: 5em; */
}

a:link {
  color: rgb(104, 187, 255);
  background-color: transparent;

  padding-left: 0px;
  padding-top: 50px;
}

a:visited {
  color: rgb(104, 187, 255);
  background-color: transparent;
  padding-left: 50px;
  padding-top: 50px;
}

.loading {
  position: relative;
  margin-left: 45%;
  margin-top: 15%;
  padding-bottom: 20%;
}

.chatbox {
  background-color: white;
  padding: 0.1em;
  padding-bottom: 2em;
  height: 20em;
  width: 18em;
  border-style: inset;
  border-width: 1px;
  color: black;
  overflow: auto;
  resize: vertical;
  word-wrap: break-word;
  line-height: 0.8em;
}

.chatinput {
  width: 18em;
  border-style: inset;
  border-width: 1px;
  float: left;
  resize: vertical;
}

.chatroom {
  float: right;

  font-size: 1rem;
}

.chatbar {
  height: 2.35em;
  width: 18.37em;
}

.chatSend {
  padding-top: 0.65em;
  padding-bottom: 0.65em;
  padding-right: 0.5em;
  float: right;
}

h1,
h2,
h3 {
  font-weight: lighter;
}

.chatMessage {
  margin: 0.35em;
  line-height: 1em;
}

.test {
  padding: 2%;
}

.chatProfile {
  overflow: hidden;
  white-space: nowrap;
  color: cornflowerblue;
}

.notLoggedIn {
  color: darkgray;
  line-height: 1em;
}

.usersOnline {
  background-color: var(--notblack);
  border-style: inset;
  border-color: rgb(136, 136, 136);
  border-width: 0.5em;
  color: green;
  padding: 1em;
  width: 25em;
}

.usersOnline h5 {
  line-height: 0em;
  font-size: inherit;
  font-weight: normal;
  color: var(--greyple);
  margin-top: 0.5em;
}

.loginTime {
  color: grey;
  font-style: italic;
  font-size: 0.8em;
}

.chatTime {
  color: grey;
  font-style: italic;
  font-size: 0.8em;
  float: right;
}

.errorMessage {
  color: red;
  font-size: smaller;
}

.successMessage {
  color: green;
  font-size: smaller;
}
