/* :root {
  --notblack: #23272a;
  --dark: #2c2f33;
  --greyple: #99aab5;
  --burnt: #da8b72;
}
 */

:root {
  --notblack: #23272a;
  --dark: #2c2f33;
  --greyple: #99aab5;
  --burnt: #da8b72;
  background-color: rgb(95, 95, 95);
}

html,
body {
  background-color: rgb(95, 95, 95) !important;
  margin: 0;
  padding: 0;
  height: 100%;
}
#root {
  background-color: rgb(95, 95, 95);
  height: 100%;
}

.App {
  height: 100%;
  background-color: rgb(95, 95, 95);
}

body::-webkit-scrollbar {
  width: 0 !important;
}

#errorMessage .arrow::before {
  border-bottom-color: rgb(255, 72, 99) !important;
}

#errorMessage .tooltip-inner {
  background-color: rgb(255, 72, 99) !important;
  padding-right: 1em;
  padding-left: 1em;
  margin-left: 2em;
  color: white;
  font-size: 1.05em;
}

#loginErrorMessage .tooltip-inner {
  background-color: rgba(255, 72, 99, 0.746) !important;
  box-shadow: 0px 5px 15px 1px rgba(68, 68, 68, 0.356);
  padding-right: 1em;
  padding-left: 1em;
  margin-left: 1em;
  color: white;
  font-size: 1.05em;
  display: block;
}

#loginSuccessMessage .tooltip-inner {
  background-color: rgba(42, 185, 97, 0.746) !important;
  box-shadow: 0px 5px 15px 1px rgba(68, 68, 68, 0.356);
  padding-right: 1em;
  padding-left: 1em;
  margin-left: 1em;
  color: white;
  font-size: 1.05em;
}

.loadingSpinner {
  height: 1em !important;
  width: 1em !important;
  margin-left: 1em;
  margin-right: 1em;
}

.loading {
  position: absolute;
  padding-left: calc(50vw - 100px);
  padding-top: calc(50vh - 100px);
}

.delete {
  width: 4.625em;
}

.container {
  width: 100%;
  height: 100%;
}
.ticketItem {
  padding: 1em;
  border-bottom: 0.01em solid rgba(0, 0, 0, 0.125);
  background-color: white;
  transition-duration: 0.25s;
}

.ticketItem.none {
  border-top: 0;
  color: rgba(175, 173, 173, 0.664);
  font-style: italic;
  transition: none;
  user-select: none;
}
.ticketItem.none:hover {
  color: rgba(175, 173, 173, 0.664);
  font-style: italic;
  cursor: default;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  transition-duration: 0s;
  background-color: white;
}

.ticketName.none {
  font-weight: 400;
}

.numberOfTickets {
  font-size: 0.75em;
  color: rgb(195, 195, 195);
  float: right;
}

.ticketItem:hover {
  transition-duration: 0.25s;
  background-color: rgb(255, 238, 240);
  cursor: pointer;
}
.ticketName {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}

.cardDeck.card-deck {
  margin-left: 0;
  margin-right: 0;
}

.card-deck .card {
  height: min-content;
}

.card {
  box-shadow: 0px 10px 15px 8px #363636b2;
}

@media (max-width: 850px) {
  .cardDeck {
    display: block !important;
    flex-flow: row wrap !important;
    padding: 0em 1em 0em 1em;
  }
}

@media (max-width: 850px) {
  .card {
    margin: 1em 1em 1em 1em;
  }
}

.addTicket {
  grid-area: addT;
  margin-bottom: 0.5em;
  padding: 1em;
  grid-column-start: 2;
  grid-row-start: 1;
}

.addTicketForm {
  width: 31em;
  box-shadow: 0px 10px 15px 8px #36363685;
}

@media (max-width: 991px) {
  .addTicketForm {
    width: 25em;
    box-shadow: 0px 10px 15px 8px #3636368a;
  }
}

.ticketInput {
  border-top-left-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
  border: none;
  height: 2.1em;
  font-size: larger;
  width: 20em;
}

.ticketSubmit {
  border-top-right-radius: calc(0.25rem - 1px);
  border-bottom-right-radius: calc(0.25rem - 1px);
  border: none;
  height: 2.1em;
  background-color: rgb(230, 230, 230);
  transition-duration: 0.15s;
  width: 6em;
  font-size: larger;
  color: rgb(92, 92, 92);
}

.ticketSubmit:hover {
  background-color: rgb(209, 209, 209);
  transition-duration: 0.15s;
}

.ticketSubmit:active {
  background-color: rgb(133, 133, 133);
  transition-duration: 0.15s;
  border: none;
}

@media (max-width: 991px) {
  .ticketInput {
    font-size: 1em;
    height: 2.5em;
    width: 70%;
  }
}

@media (max-width: 991px) {
  .ticketSubmit {
    padding-top: 0.15em;
    width: 30%;
    font-size: smaller;
    padding-top: 11.5px;
    padding-bottom: 28px;
  }
}
@media (max-width: 991px) {
  .addTicketForm {
    width: 100%;
    box-shadow: 0px 10px 15px 8px #3636368a;
  }
}
@media (max-width: 991px) {
  .addTicketForm.form-inline {
    width: 90%;
    box-shadow: 0px 10px 15px 8px #3636368a;
  }
}

input:focus {
  outline: 0;
}

.ticketSubmit:focus {
  outline: 0;
}

.btn:focus {
  box-shadow: 0 0 0 0 !important;
}

.users {
  grid-area: users;
  display: flex;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
}

.card-deck {
  grid-area: cards;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.home {
  height: 94%;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr minmax(0%, 98%) 1fr;
  grid-template-rows: 6em 1fr 1fr;
}

.usersOnline {
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  grid-area: users;
  width: 0;
  height: 100%;
  background-color: rgb(224, 224, 224);
  box-shadow: 5px 0px 10px 5px rgba(31, 31, 31, 0.459);
  color: green;
  margin-right: 1em;
}

.userlist {
  display: block;
  white-space: nowrap;
}

.loginTime {
  color: rgb(184, 184, 184);
  font-style: italic;
  font-size: 0.8em;
}

.sideText {
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
  transform: translateX(-10px);
  width: 90%;
  height: 90%;
  font-weight: 600;
  font-size: 1.2em;
  padding-right: 0.3em;
  padding-left: 0.3em;
}

li {
  text-decoration: none !important;
  color: red !important;
}

.navbar {
  box-shadow: -5px 0px 15px 10px rgba(31, 31, 31, 0.678);
  border-bottom: inset;
  border-color: #58636d;
}

.navLink {
  text-decoration: none;
  color: #212529;
}

.navLink:hover {
  text-decoration: none;
  color: #212529;
}

.navLink:hover {
  text-decoration: none;
}

.NavDropdown.Item-logout {
  background-color: purple;
  color: white;
}

.navProfile {
  cursor: default;
  user-select: none;
}

.alert1 {
  padding-top: 0.5em;
  margin: 0;
  border: 0;
}

#ticket::placeholder {
  font-style: italic;
  color: lightgray;
}

.loggedUser {
  font-size: smaller;
}

.notLoggedIn {
  color: darkgray;
  line-height: 1em;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

#openbtn {
  background-color: rgb(140, 212, 240);
  border-color: rgb(140, 212, 240);
  padding: 0.25em;
  height: 100%;
  text-align: center;
  border-radius: 0;
  transition-duration: 0.15s;
  z-index: 1;
}

#openbtn:hover {
  background-color: rgba(64, 185, 233, 0.876);
  border-color: rgb(64, 185, 233);
  transition-duration: 0.15s;
}

#openbtn2 {
  background-color: rgb(255, 151, 167);
  border-color: rgb(255, 151, 167);
  padding: 0.25em;
  height: 100%;
  float: right;
  text-align: center;
  border-radius: 0;
  transition-duration: 0.15s;
  z-index: 1;
}

#openbtn2:hover {
  background-color: rgb(255, 144, 158);
  border-color: rgb(255, 144, 158);
  transition-duration: 0.15s;
}

.form-inline {
  display: block;
  white-space: nowrap;
  display: inline-block;
}

.handle {
  cursor: grab;
  background-color: rgb(231, 231, 231);
  text-align: center;
}

.handle:active {
  cursor: grabbing;
  background-color: rgb(195, 195, 195);
}

.demo {
  float: right;
}

.usersOnlineMobile {
  position: absolute;
  top: 14.78em;
  overflow-y: hidden;
  transition: 0.5s;
  grid-area: users;
  margin-left: 0.25em;
  height: 0;
  background-color: rgb(224, 224, 224);
  color: green;
}

/* CHATROOM STYLING */
.displayChatroomMobile {
  height: 93%;
}

/* for grid purposes */
.chat {
  grid-area: chat;
  display: flex;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
}

/* ultimate chatroom container */
.chatroom {
  z-index: 1;
  float: left;
  background-color: white;
  border: grey;
  font-size: 1rem;
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  overflow-x: hidden;
  transition: 0.5s;
  height: 100%;
  width: 0em;
  background-color: white;
  color: green;
  margin-left: 1em;
  box-shadow: -5px 0px 10px 5px rgba(31, 31, 31, 0.459);
}

.chatTitle {
  background-color: #f0f1f2;
  padding: 0.5em;
  font-size: 1.5em;
  font-weight: 600;
  color: #343a40;
  height: 7%;
}
.chatTitleMobile {
  background-color: #f0f1f2;
  padding: 0.5em;
  font-size: 1.25em;
  font-weight: 600;
  color: #343a40;
  height: 10%;
}

.chatContainer {
  background-color: white;
  padding: 0.1em;
  height: 93%;
  width: 100%;
  color: black;
  overflow: auto;
  word-wrap: break-word;
  line-height: 0.8em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10%;
}

.chatContainerMobile {
  background-color: white;
  padding: 0.1em;
  height: 100%;
  width: 100%;
  color: black;
  overflow: auto;
  word-wrap: break-word;
  line-height: 0.8em;
  white-space: nowrap;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 18%;
}

.chatMessages {
  grid-area: msg;
  grid-column: 1;
  grid-row: 1;
  background-color: white;
  padding: 0.1em;
  width: 100%;
  color: black;
  overflow: auto;
  word-wrap: break-word;
  line-height: 0.8em;
  padding-bottom: 1em;
}

.chatbar {
  grid-column: 1;
  grid-row: 2;
  display: inline-flex;
}

.chatbarMobile {
  grid-column: 1;
  grid-row: 2;
  display: inline-flex;
  overflow: hidden;
  padding-bottom: 0.75em;
}

.chatinput {
  resize: none;
  line-height: normal;
  outline: none;
  width: 85%;
  height: 100%;
  border-color: rgb(202, 202, 202);
  overflow-y: scroll;
}

.chatinput::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.chatinput::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.chatinput::-webkit-scrollbar-thumb {
  background: rgb(206, 206, 206);
}

/* Handle on hover */
.chatinput::-webkit-scrollbar-thumb:hover {
  background: rgb(190, 190, 190);
}

.chatSend {
  border: none;
  background-color: rgb(230, 230, 230);
  transition-duration: 0.15s;
  color: rgb(92, 92, 92);
  outline: none;
  width: 15%;
  height: 100%;
  overflow: hidden;
}

.chatSend:hover {
  background-color: rgb(209, 209, 209);
  transition-duration: 0.15s;
}

.chatSend:active {
  background-color: rgb(133, 133, 133);
  transition-duration: 0.15s;
  outline: none;
}

.chatSend:focus {
  outline: none;
}

.clearChats {
  display: block;
  height: 50px;
}

.chatProfile {
  white-space: nowrap;
  color: cornflowerblue;
  height: 100%;
  padding-right: 0.5em;
  width: auto;
  display: flex;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

.chatMessage {
  margin: 0.35em;
  line-height: 1.25em;
  max-width: 80%;
  border-radius: 0.5em;
  background-color: white;
  transition-duration: 0.25s;
  background-color: rgba(199, 199, 199, 0.274);
  display: flex;
}

.chatYourMessage {
  margin: 0.35em;
  line-height: 1.25em;
  width: 80%;
  border-radius: 0.5em;
  background-color: white;
  transition-duration: 0.25s;
  margin-left: 20%;
  display: flex;
  background-color: rgba(182, 228, 255, 0.301);
}

.msgContainer {
  padding-left: 0.5em;
  border-left: 0.01em solid rgba(0, 0, 0, 0.125);
  padding: 0.5em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  white-space: pre-wrap;
}

.chatTime {
  color: rgb(187, 187, 187);
  font-style: italic;
  font-size: 0.6em;
  padding-left: 2%;
}

.chatTime.user {
  color: rgb(167, 167, 167);
  font-style: italic;
  font-size: 0.6em;
  display: block;
  text-align: right;
}

.chatBlock {
  display: block;
  padding-right: 0.5em;
}

.chatMessages::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.chatMessages::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.chatMessages::-webkit-scrollbar-thumb {
  background: rgb(206, 206, 206);
}

/* Handle on hover */
.chatMessages::-webkit-scrollbar-thumb:hover {
  background: rgb(190, 190, 190);
}

.chatroom {
  z-index: 1;
  float: left;
  background-color: white;
  border: grey;
  font-size: 1rem;
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  overflow-x: hidden;
  transition: 0.5s;
  height: 100%;
  width: 25em;
  background-color: white;
  color: green;
  margin-left: 1em;
  box-shadow: -5px 0px 10px 5px rgba(31, 31, 31, 0.459);
}

.chatroomMobile {
  position: absolute;
  top: 14.59em;
  background-color: white;
  border: grey;
  font-size: 1rem;
  overflow-y: hidden;
  transition: 0.5s;
  background-color: white;
  color: green;
  margin-left: 0.25em;
  height: 0;
}

/* MOBILE STYLING */

@media (max-width: 850px) {
  .addTicket {
    grid-area: addT;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
  }

  .users {
    grid-area: users;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
  }

  .chat {
    grid-area: chat;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
  }

  .card-deck {
    grid-area: cards;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 4;
  }

  .home {
    height: 94%;
    display: grid;
    width: 100%;
  }

  #openbtn {
    width: 100%;
    height: 5%;
    padding: 0;
    border-radius: 0;
    transition-duration: 0.15s;
    margin-left: 0.25em;
    margin-right: 0em;
    float: left;
    position: relative;
  }

  #openbtn2 {
    position: relative;
    width: 100%;
    height: 10%;
    padding: 0;
    border-radius: 0;
    transition-duration: 0.15s;
    margin-left: 0.25em;
    float: left;
  }
}
