body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  /* font-family: "runescape";
  src: url(./fonts/runescape.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; */
  font-family: "runescape-uf-regular";
  src: url("./fonts/RuneScape\ Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
