:root {
  --notblack: #23272a;
  --dark: #2c2f33;
  --greyple: #99aab5;
  --burnt: #da8b72;
}

html {
  background-color: var(--notblack);
}
.App {
  background-color: var(--dark);
  color: var(--greyple);
}

.ticketBlock {
  display: flex;
  color: var(--greyple);
}

li {
  list-style-type: none;
}

a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
  padding-left: 50px;
  padding-top: 50px;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
  padding-left: 50px;
  padding-top: 50px;
}

a:link.nav-link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
  padding-left: 50px;
  padding-top: 50px;
}

a:visited.nav-link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
  padding-left: 50px;
  padding-top: 50px;
}

a:link.navbar-brand {
  font-size: 16pt;
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  color: lightblue;
}

a:visited.navbar-brand {
  font-size: 16pt;
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  color: lightblue;
}

.display {
  padding-left: 20px;
}
