:root {
  --notblack: #23272a;
  --dark: #2c2f33;
  --greyple: #99aab5;
  --burnt: #da8b72;
}

html {
  background-color: var(--notblack);
}
.App {
  background-color: var(--dark);
  color: var(--greyple);
}

.ticketBlock {
  display: flex;
  color: var(--greyple);
}

li {
  list-style-type: none;
}

a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
  padding-left: 50px;
  padding-top: 50px;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
  padding-left: 50px;
  padding-top: 50px;
}

a:link.nav-link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
  padding-left: 50px;
  padding-top: 50px;
}

a:visited.nav-link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
  padding-left: 50px;
  padding-top: 50px;
}

a:link.navbar-brand {
  font-size: 16pt;
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  color: lightblue;
}

a:visited.navbar-brand {
  font-size: 16pt;
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  color: lightblue;
}

.display {
  padding-left: 20px;
  padding-bottom: 50px;
  min-height: 500px;
}

.addTicket {
  padding-left: 20px;
}

.addTicket .submit {
  background-color: lightblue; /* Green */
  color: var(--dark);
  padding: 2px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: block;
  height: 26px;

  border: none;
}

.addTicket input[type="text"] {
  display: block;
  float: left;
  height: 20px;
  width: 35%;
  border: 2px solid white;
}

.example {
  width: 50%;
  padding-left: 20px;
}

.ticketItem {
  display: flex;
  padding-bottom: 15px;
}

.editButton {
  margin-left: 10px;
  background-color: var(--greyple); /* Green */
  color: var(--dark);
  padding: 0px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: block;
  height: 20px;

  border: none;
}

.editTicket .submit {
}

.editTicket input[type="text"] {
}

.closeModal {
  display: block;
  float: right;
  margin-top: 30px;
}
